// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #ff2216;
	--ion-color-primary-rgb: 255, 34, 22;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #e01e13;
	--ion-color-primary-tint: #ff382d;

	--ion-color-secondary: #e231a7;
	--ion-color-secondary-rgb: 226, 49, 167;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #c72b93;
	--ion-color-secondary-tint: #e546b0;

	--ion-color-tertiary: #a635ff;
	--ion-color-tertiary-rgb: 166, 53, 255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #922fe0;
	--ion-color-tertiary-tint: #af49ff;

	--ion-color-success: #76d98f;
	--ion-color-success-rgb: 118, 217, 143;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #68bf7e;
	--ion-color-success-tint: #84dd9a;

	--ion-color-warning: #feec31;
	--ion-color-warning-rgb: 254, 236, 49;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0d02b;
	--ion-color-warning-tint: #feee46;

	--ion-color-danger: #e95018;
	--ion-color-danger-rgb: 233, 80, 24;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #cd4615;
	--ion-color-danger-tint: #eb622f;

	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34, 34, 34;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-light: #ecf6b4;
	--ion-color-light-rgb: 236, 246, 180;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d0d89e;
	--ion-color-light-tint: #eef7bc;

	--ion-toolbar-background: var(--ion-color-primary);
	--ion-toolbar-color: var(--ion-color-primary-contrast);
}
